<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.badlogic.androidgames"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".AndroidBasicsStarter"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LifeCycleTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Life Cycle Test" />
        <activity
            android:name=".SingleTouchTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Single Touch Test" />
        <activity
            android:name=".MultiTouchTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Multi Touch Test" />
        <activity
            android:name=".KeyTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Key Test" />
        <activity
            android:name=".AccelerometerTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Accelerometer Test" />
        <activity
            android:name=".AssetsTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Assets Test" />
        <activity
            android:name=".FullScreenTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Full Screen Test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RenderViewTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Render View Test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShapeTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Shape Test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SurfaceViewTest"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Surface View Test"
            android:screenOrientation="portrait" >
        </activity>
        </application>

</manifest>